* {
  margin: 0;
  padding: 0;
}

body {
  height: 92vh;
  background-image: url(./todo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.add-btn,.delete-btn {
  cursor: pointer;
  border-radius: 100%;
  padding: 3px 8px;
  margin-left: 1rem;
  border: none;
  font-size: 20px;
  background-color: #800080;
}

.add-btn:focus {
  outline: none;
}

.big-phone {
  width: 28%;
  border-radius: 2rem;
  height: 85vh;
  text-align: center;
}

.small-phone, .big-phone {
  border: 1px solid #800080;
  margin: auto;
  margin-top: 3rem;
}

.small-phone {
  border-radius: 2rem;
  width: 70%;
  height: 50vh;
}

input {
  border-radius: 4rem;
  border: none;
  padding: 10px 0;
  text-align: center;
}

input:focus {
  outline: none;
}

h1 {
  color: #800080;
  margin: 2rem 0;
}

ol.task-list {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #800080;
  font-weight: bolder;
}

.task-item {
  margin: 0.5rem 0;
}

@media screen and (max-width: 600px) {
  body {
    padding-top: 2rem;
    max-height: 94vh;
    
  }
  .big-phone {
    width: 90%;
    margin: auto;
  }
  .small-phone {
    width: 80%;
    margin: auto;
    height: 54vh;
  }

  input {
    width: 50%;
    margin-bottom: 1rem;
    padding: 10px 0;
    text-align: center;
  }
}

